/*donationpage.php 참조,화면 디자인*/

body{
    height:2400px;
}
#body{
    position: relative;
    top: 10%;
}
.title{
	font-size: 19px;
	font-weight: 100;
	color:#A6A6A6;
}

#body_form{
	border: 1px solid #D9D9D9;
	position:relative;
	margin:0 auto;
	top:25%;
	width:60%;
	height: 40%;
}
#showInfo{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 30%;
}
#intro{
	position: absolute;
    top: 73%;
    left: 50%;
    font-weight: bold;
}
/*input 후원정보 box*/
#supportInfo{
	position: absolute;
    left: 5%;
    top:55%;
    width: 90%;
    height: 20%;
 }
table{
	position:absolute;
	top:25%;
	width:100%;
	border-spacing: 15px;
}
.row1{
	text-align: right;
}
 .post_btn{
 	font-size:21px;
	position: relative;
    top: 85%;
    left: 50%;
    transform: translate(-50%);
    background-color: #F96B6B;
    color:white;
    border-radius: 12px;
    height: 40px;
    border:none;
}	

.post_btn a:visited{
	color:white;
	text-decoration: none;
}
#day_div{
	position: absolute;
    top: 100%;
    left: 50%;
}
.day{
	text-align: center;
}

#btn_submit{
    position: absolute;
    font-size:21px;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    background-color: #F96B6B;
    color:white;
    border-radius: 12px;
    height: 40px;
    border:none;
}

#edit_intro{
    position: absolute;
    top: 73%;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%);
}

#edit_day_div{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}