

/*header part*/
#header{
	position: relative;
    top: 70px;
    width: 90%;
    height: 380px;
    left:5%;
}
h1.title{
	position:absolute;
	top:10%;
	left:50%;
	margin-top: 0px;
	transform: translate(-50%, -50%);
	font-family: 'Fredoka One', cursive;
	font-weight :bold;
	font-size :50px;
	text-shadow: 4px 2px 2px gray;
}
#search{
	position:absolute;
	left:50%;
	top:230px;
	transform: translate(-50%, -50%);
	width:600px;
	text-align: center;
}
#search_text {
	width:500px;
	height:37px;
}
#login{
	position:absolute;
	right:3%;
	top: 230px;
	color:#7F7F7F;
	
}
button{
	border:none;
	background-color: white;
	padding:5px;
}
.login_botton{
	position: relative;
	top: -5px;
	font-family: 'Nanum Gothic', sans-serif;
	color:#FA6462;
	font-size: 23px;
}

#btn_post{
	position: absolute;
    font-family: 'Nanum Gothic', sans-serif;
    top: 230px;
    left:3%;
    font-size: 23px;
    font-weight: bold;
}

.title a:link{
	color:black;
	text-decoration: none;
}
.title a:visited{
	color:black;
	text-decoration: none;
}