/*후원, 펀딩내역 참조*/

#body{
	position: relative;
    top:20%;
	height: 100%;
	left:50%;
	transform: translate(-50%);
}

table{
	position: relative;
    width: 70%;
    top: 23%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #FB7C79;
    border-collapse: collapse;
}
table tr,td{
	border-bottom: 1px solid #FB7C79;
	padding: 10px;
	word-break:break-all;
	width:3%;
}
#tr1 {
	font-weight:bold;
}

#userId{
	position: relative;
    font-size: 21px;
    font-weight: bold;
    left: 15%;
}
a{
	color:#FA6460;
	text-decoration: none;
}	

a:hover{
	font-weight: bold;
}
.total{
	width: 10%;
    position: relative;
    top: 23%;
	left: 79.5%;
    font-weight: bold;
}

.show_title{
	position: relative;
    top: 22.5%;
    font-size: 21px;
    font-weight: bold;
    margin: 0 auto;
    left: 16%;
    padding-top: 40px;
}

.btn2{
    position:relative;
    display:block;
    top:120px;
    left:12%;
}